table, th, td {
    border: 1px solid purple;
    margin:auto;
    text-align: center;
    width:60%;
    padding-bottom:25px;
}

td {
    padding: 3px;
    font-size: 10px;
}

th {
    padding: 3px;
    font-style:bold;
    font-size: 10px;
}
