<div>
<p class="accordion" (click)="isOn=!isOn">
<b>{{contrato.usuarioId.empresa}}:</b> contrato número {{contrato.id}}
<br>
Moneda: {{contrato.moneda}}
</p>
<div class="btn-group">
    <button class="btnFlujo" id="btnFlujo" (click)="mostrarF()">Mostrar Flujo</button>
    <button class="btnResultado" id="btnResultado" (click)="mostrarR()">Mostrar Resultado</button>
</div>
</div>

<app-flujo-list *ngIf="mostrarflujo" [contrato]='contrato'></app-flujo-list>
<app-resultado-list *ngIf="mostrarresultado" [contrato]='contrato'></app-resultado-list>
