p.accordion {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    text-align: left;
    border: none;
    outline:lightblue solid;
    transition: 0.4s;
    margin:auto;
    margin-bottom:25px;
}

p.accordion.active, p.accordion:hover {
    background-color:  lightblue;
}

.btn
{
    color:white;
    background-color: #4CAF50;
    margin-top:-8%;
    margin-left:72.5%;
}