<h3>Contrato</h3>
<div>

  <form (ngSubmit)="save()" class="formas">
      <select name="monedaSelect" [(ngModel)]="contrato.moneda">
          <option value="Dolar">Dolar</option>
          <option value="Euro">Euro</option>
        </select>

        <div class="row">

            <div class="col">
    <div class="form-group">
      <label for="precioVenta">Precio Venta:</label>
      <input type="text" class="form-control" id="precioVenta" required [(ngModel)]="contrato.precioVenta" name="precioVenta">
    </div>

  </div>

    <div class="col">
    <div class="form-group">
      <label for="numeroAnnos">Numero Años:</label>
      <input type="text" class="form-control" id="numeroAnnos" required [(ngModel)]="contrato.numeroAnnos" name="numeroAnnos">
    </div>

  </div>
  
  </div>

    <div class="form-group">
      <label for="frecuenciaDePago">Frecuencia de Pago:</label>
      <input type="text" class="form-control" id="frecuenciaDePago" required [(ngModel)]="contrato.frecuenciaDePago" name="frecuenciaDePago">
    </div>

    <div class="form-group">
      <label for="numeroDiasPorAnno">Numero de dias por año:</label>
      <input type="text" class="form-control" id="numeroDiasPorAnno" required [(ngModel)]="contrato.numeroDiasPorAnno" name="numeroDiasPorAnno">
    </div>

    <div class="form-group">
      <label for="porcentajeTEA">Porcentaje TEA:</label>
      <input type="text" class="form-control" id="porcentajeTEA" required [(ngModel)]="contrato.porcentajeTEA" name="porcentajeTEA">
    </div>
        
    <div class="form-group">
      <label for="porcentajeImpuestoRenta">Porcentaje Impuesto a la Renta:</label>
      <input type="text" class="form-control" id="porcentajeImpuestoRenta" required [(ngModel)]="contrato.porcentajeImpuestoRenta" name="porcentajeImpuestoRenta">
    </div>
    
    <div class="form-group">
      <label for="porcentajeRecompra">Porcentaje Recompra:</label>
      <input type="text" class="form-control" id="porcentajeRecompra" required [(ngModel)]="contrato.porcentajeRecompra" name="porcentajeRecompra">
    </div>

    <h3>Gastos iniciales:</h3>
    <br>

    <div class="form-group">
      <label for="costesNotariales">Costes Notariales:</label>
      <input type="text" class="form-control" id="costesNotariales" required [(ngModel)]="contrato.costesNotariales" name="costesNotariales">
    </div>

    <div class="form-group">
      <label for="costesRegistrales">Costes Registragles:</label>
      <input type="text" class="form-control" id="costesRegistrales" required [(ngModel)]="contrato.costesRegistrales" name="costesRegistrales">
    </div>

    <div class="form-group">
      <label for="tasacion">Tasacion:</label>
      <input type="text" class="form-control" id="tasacion" required [(ngModel)]="contrato.tasacion" name="tasacion">
    </div>

    <div class="form-group">
      <label for="comisionEstudio">Comision de estudio:</label>
      <input type="text" class="form-control" id="comisionEstudio" required [(ngModel)]="contrato.comisionEstudio" name="comisionEstudio">
    </div>

    <div class="form-group">
      <label for="comisionActivacion">Comision de activacion:</label>
      <input type="text" class="form-control" id="comisionActivacion" required [(ngModel)]="contrato.comisionActivacion" name="comisionActivacion">
    </div>

    <h3>Gastos periodicos:</h3>
    <br>
    <div class="form-group">
      <label for="comisionPeriodica">Comision periodica:</label>
      <input type="text" class="form-control" id="comisionPeriodica" required [(ngModel)]="contrato.comisionPeriodica" name="comisionPeriodica">
    </div>

    <div class="form-group">
      <label for="firstName">Porcentaje de Seguro De Riesgo:</label>
      <input type="text" class="form-control" id="porcentajeSeguroRiesgo" required [(ngModel)]="contrato.porcentajeSeguroRiesgo" name="porcentajeSeguroRiesgo">
    </div>

    <h3>Costo de oportunidad:</h3>
    <br>
    <div class="form-group">
      <label for="tasaDescuentoKs">Tasa de Descuento Ks:</label>
      <input type="text" class="form-control" id="tasaDescuentoKs" required [(ngModel)]="contrato.tasaDescuentoKs" name="tasaDescuentoKs">
    </div>

    <div class="form-group">
      <label for="tasaDescuentoWACC">Tasa de Descuento WACC</label>
      <input type="text" class="form-control" id="tasaDescuentoWACC" required [(ngModel)]="contrato.dni" name="tasaDescuentoWACC">
    </div>

    <button type="submit" class="btn btn-success">Registro</button>
    
  </form>
</div>